<h2 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; text-align: center;
        margin-top: 5px;
        color: black;
        background: #ffff;"><b>Problem statement</b></h2>



<form>

<div style="border:0px;
        background:rgba(0,0,0,0.5);
        color:#ffff;
        text-align:left;
        padding-top:50px;">
        <h3>TITLE : {{list.title}}</h3><br>
        <h4 style="font-size:15pt; "> Submitted by :</h4>  {{list.email}} <br>
        <hr >
        <h4 style="font-size:15pt; "> Description :</h4> <br>
        <p>{{list.description}}</p>
        <br>
        <hr>
        <h4 style="font-size:15pt; ">Days to work :</h4>
         {{list.timePeriod}} <br>
        <hr>
        
      
        <button type="button" class="btn btn-warning btn-block " style="btn-align:center;"><a href="/knowledge/list/apply/{{list._id}}"><h4>Apply</h4></a></button>
  <br>
  <br>
  
  
  </div>  
  </form>    
